@charset 'utf-8';

/* 2カラムレイアウト */

#main {
    width: 600px;
    float: left;
}

#box2 {
    width: 300px;
    padding: 24px;
    float: right;
    margin-top: 0;
    margin-bottom: 60px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    animation: slideRight 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

@keyframes slideRight {
    0% {
        transform: translateX(6.25em);
    }
    100% {
        transform: translateX(0);
    }
}

#box2-inner {
    width: auto;
}

.hatena-module {
    text-align: left;
    padding-right: 0;
    width: 300px;
    float: left;
}

@media (max-width: 1024px) {
    #main,
    #box2,
    .hatena-module {
        width: 100%;
        float: none;
    }
    #box2 {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        border-radius: initial;
        -webkit-animation-duration: initial;
        -webkit-animation-duration: initial;
        -webkit-animation-fill-mode: none;
        -webkit-animation-fill-mode: none;
        -webkit-animation-name: initial;
        -webkit-animation-name: initial;
        -webkit-animation-timing-function: initial;
        -webkit-animation-timing-function: initial;
    }
}


/* タイトルロゴ */

#header-bottom {
    position: absolute;
    top: 190px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    img {
        max-width: 100%;
    }
    .logo {
        max-width: 433px;
        margin: 0 auto;
        padding: 0 24px;
    }
    .introduction {
        max-width: 300px;
        margin: 0 auto;
        padding: 0 24px;
    }
}


/* カラー */

#globalheader-container {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.date-day,
#footer {
    background: #da0027;
}

a {
    color: #da0027;
}

.categories a {
    color: #1b5385;
}

.hatena-follow-button,
.entry-see-more {
    background: #1b5385 !important;
    color: #ffffff !important;
}


/* 本文 */

.entry-header {
    padding: 14px 14px 24px 24px;
    .date {
        position: static;
        float: left;
    }
}

.entry-title {
    margin: .4em 0 .4em 80px;
}

.entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #1b5385;
    }
    h3 {
        background: #efefef;
        border-radius: 4px;
        padding: 8px 15px 5px;
        margin: 1.3em 0;

        &:before {
            content: '\f072';
            font-family: FontAwesome;
            margin-right: 15px;
            font-size: 130%;
            vertical-align: middle;
        }
    }
    h4 {
        &:before {
            content: '\f0da';
            font-family: FontAwesome;
            margin-right: 10px;
        }
    }
    h5 {
    }

    blockquote{
        background-color:#efefef;
        padding:15px 10px 15px 35px;
        position:relative;
        z-index:1;
        border-radius: 4px;
        border: none !important;

        &:before,
        &:after{
            content:"“";
            font-size:600%;
            line-height:1em;
            font-family:"ＭＳ Ｐゴシック",sans-serif;
            color:#fff;
            position:absolute;
            z-index:-1;
        }
        &:before {
            left:0;
            top:0;
        }
        &:after {
            right:0;
            bottom:0;
            transform: rotate(180deg);
        }
    }
}


/* SNSシェアボタン */

.customized-header {
    padding: 5px 0 0;
    clear: both;
}

.share-buttons {
    margin: 10px 0;
    text-align: center;
    .entry-footer & {
        margin-bottom: 30px;
    }
    .inner {
        a {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 19%;
            line-height: 1.3;
            font-size: 16px;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 0;
            border-radius: 2px;
            box-sizing: border-box;
            cursor: pointer;
            text-align: center;
            letter-spacing: 1px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            transition: all 0.3s ease-out;
            &:hover {
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            }
        }
        .share-text {
            font-size: 15px;
        }
        .hatena-bookmark-button {
            background: #008fde;
        }
        .facebook-button {
            background: #305097;
        }
        .twitter-button {
            background: #55acee;
        }
        .googleplus-button {
            background: #db4a39;
        }
        .pocket-button {
            background: #ee4256;
        }
    }
}

@media (max-width: 767px) {
    .share-buttons {
        margin-bottom: 10px;
        text-align: center;
        .inner {
            a {
                position: relative;
                line-height: 1;
                font-size: 16px;
                text-align: center;
                text-decoration: none;
                min-width: 64px;
            }
            .share-text {
                font-size: 10px;
            }
        }
        .share-count-box {
            height: 1.33333em;
            display: inline-block;
            text-align: center;
        }
    }
}